<div id="wrapperRR">
  <div id="sidebar-wrapperRR">
    <div class="sidebar-nav">
      <div class="content text-center wow distance_from_top">
        <h1>ARTICLES</h1>
        <h2 style="margin-top:60px;">
          Welcome To Articles Section
        </h2>
      </div>
    </div>
  </div>
  <div id="page-content-wrapperRR" style="float:right; margin-right:80px;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="center"><%= will_paginate %></div>
            <div style="padding-top:20px"><%= render 'article', obj: @articles %></div>
        </div>
      </div>
    </div>
  </div>
</div>



