<div class="container-full">
  <div class="Intro">
    <h1>"IF YOU CAN DREAM IT YOU CAN DO IT"</h1>
    <p>WALT  DISNEY</p>
    <% if !logged_in? %>
      <div class="center">
        <%= link_to "GET STARTED", login_path, class:"button"%>
      </div>
    <% end %>
  </div>
  <section id="about" class="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>ABOUT</h2>
          <p>Welcome to gotArticle Blog</br>where you can create different articles in different categories and share them with other users!</p>
        </div>
      </div>
    </div>
  </section>
</div>

