<div id="content">
<div class="Intro">
  <h1>"IF YOU CAN DREAM IT YOU CAN DO IT"</h1>
  <p>WALT  DISNEY</p>
  <% if !logged_in? %>
  <div class="center">
    <%= link_to "GET STARTED", login_path, class:"button"%>
  </div>
  <% end %>
</div>
<div class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>ABOUT</h2>
        <p>Ham hock ham tongue meatball tail, brisket sausage doner salami.
        Chuck boudin t-bone short loin, strip steak pastrami ham hock short ribs prosciutto alcatra meatloaf.
        Pork loin chuck venison kielbasa jowl chicken. Doner boudin tongue fatback biltong short loin spare ribs leberkas venison, jerky turkey.</p>
      </div>
    </div>
  </div>
</div>
</div>
