$navbar-default-bg: #1a1a1a;

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic);


.pdex{
    padding-right:22px;
    padding-left:22px;
}

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url('main.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.about {
    padding: 50px 0;
}

.sidebar-navc {

    height:100%;
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}
#wrapperRRc {
    display:block;
    
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


#sidebar-wrapperRRc {

    
    position: absolute;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


#page-content-wrapperRRc {
    width: 100%;
    position: relative;
    
    
     

}



@media(min-width:768px) {
    #wrapperRRc {
        padding-left: 250px;
    }

    #sidebar-wrapperRRc {
        width: 40%;
        
    }


    #page-content-wrapperRRc {
        top:10px;
        width:65%;
        position: relative;
        margin-bottom:150px;
    }

 }





.btn-warning{
    background-color: transparent;
    color: #eea236;
    transition: all .5s;
    border-width: 2px;
    border-radius: 20px;
}
    
.user-profile-user-page{
    display: block;
    position: relative;
    width: 180px;
    height: 180px;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
    border: 2px solid #F7F199;
    box-shadow: 0 3px 2px rgba(0,0,0,.3);
}

.user-profile-users-index{
    display: block;
    position: relative;
    width: 190px;
    height: 190px;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
    border: 2px solid #eee;
    box-shadow: 0 3px 2px rgba(0,0,0,.3);
}


.btn-danger {
    background-color: transparent;
    color: #d9534f;
    transition: all .5s;
    border-width: 2px;
    border-radius: 20px;
}

.portfolio-item {
    margin-bottom: 25px;
}

a:link { 
    text-decoration:none; 
}

#wrapperRR {
    display:block;
    
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


#sidebar-wrapperRR {

    
    position: absolute;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


#page-content-wrapperRR {
    width: 100%;
    position: relative;
    
    
     

}

/* Sidebar Styles */

.sidebar-nav {
    background-image: url('main.jpg'); 
    background-size:cover;
    background-position:center;
    height:100%;
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}



@media(min-width:768px) {
    #wrapperRR {
        padding-left: 250px;
    }

    #sidebar-wrapperRR {
        width: 40%;
        
    }


    #page-content-wrapperRR {
        top:10px;
        width:65%;
        position: relative;
        margin-bottom:150px;
    }

 }







html,body{
    width: 100%;
    height: 100%;
    margin:0 auto;
    padding: 0px;
    min-height:100% !important; 
    overflow-x: hidden !important; 
}

body{
    font-family:Lato;
}

.navbar{
    
    margin:0;
    font-family:Lato;

}

.center{
    text-align:center;
}

.Intro{
    background: image-url('main.jpg');
    background-size:cover;
    background-position:center;
    height:670px;
    

}

#in{    background-image: url('main.jpg'); 
    background-size:cover;
    background-position:center;
    height:100%;
    
}

 .Intro h1{
    padding-top:100px;
    color:#1a1a1a;
    text-align:center;
    letter-spacing: -1px;
    font-family:Lato;
    font-weight: 600;
    font-size: 250%;
    font-style: italic;
}

.Intro p{
    color:#1a1a1a;
    text-align:center;
    letter-spacing: -1px;
    font-family:Lato;
    font-size: 150%;
    font-weight:bold;
}


.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #F7F199;
    font-weight:bold;
    color: #1a1a1a;
}

.nav.navbar-nav li a {
  color:#F7F199;
  text-transform:uppercase;
  font-weight:bold;
  font-family:Lato;

}


.button {
    background-color: black;
    border: none;
    color:#F7F199;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 30px 2px;
    cursor: pointer;
}

.button:hover{
    background-color: #331a00;
    text-decoration:none;
    color:#F7F199;
    font-weight:bold;

}

.about h2{
    color:#1a1a1a;
    text-align:center;
    letter-spacing: -1px;
    font-family:Lato;
    font-weight: 500;
    font-size: 250%;
    
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.about P{
    padding-top:20px;
    color:#1a1a1a;
    
    font-family:Lato;
    font-size: 150%;
}

.distance_from_top{
    margin-top:60px;
}


#login{
    
    background: image-url('main.jpg');
    background-size:cover;
    background-position:center;
    height:100%;
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.lForm{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
    
.modal-content{
    background-color:#1a1a1a;
}
#yellowColor{
    color:#F7F199;
    
}

.buttonmain{
    color: #ffffff;
    font-weight:bold;
    background-color: #006dcc;
        margin-left:-15px;

}

.buttonmain:hover{
    background-color: #F7F199;
    color:#1a1a1a;
    font-weight:bold;
    
}

.modal-header{
    border-bottom: 1px solid #F7F199;
}
.modal-footer{
    border-top: 1px solid #F7F199;

}

#signup{
    
    background-image: url('main.jpg'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:920px;
    position: relative;

}

.buttonsign{
    font-weight:bold;
    color: #fff;
    background-color: #5cb85c;
    margin-left:-15px;
   
}

.buttonsign:hover{
    background-color: #F7F199;
    color:#1a1a1a;
    font-weight:bold;
    
}

li{   
    list-style: none;
}

.alert{
  position: fixed;
  top: 47px;
  left: 0;
  right: 0;
  z-index: 7000;
}

.input_checkbox input {
width: auto !important;
}


.footer {
    height: 50px;
    width:100%;
    position:fixed;
    bottom:0;
    left:0;
    background-color: #1a1a1a;
}

#content {
	padding-bottom:50px; 
    
}

#cat{
    background: image-url('main.jpg'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    
}

.dropdown-menu {
    background-color: #1a1a1a;
}

.dropdown-menu li a:hover {
    background-color: #331a00;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color:#F7F199;
}



#collections .collections {
  padding: 30px 20px 10px;
}

@media (min-width: 992px) {
  #collections .collections {
    padding: 50px 70px 30px;
  }
}

#collections .collection {
  margin-bottom: 30px;
}

#collections .collection .content img {
  -webkit-transition: all 100ms;
  transition: all 100ms;
}

#collections .collection .content {
  position: relative;
  display: block;
}

#collections .collection .content:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  -webkit-transition: background 100ms;
  transition: background 100ms;

  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);
}

#collections .collection .content:hover:before {
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.45) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.45) 100%);
}

#collections .collection .content .caption {
  width: 100%;
  
  opacity: 1;
  position: absolute;
  color: #fff;
  bottom: 4px;
  -webkit-transition: background 100ms;
  transition: background 100ms;

}

#collections .collection .caption h3 {
  padding: 8px 0;
  margin: 0;
}

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
    border-width: 2px;
    border-radius: 20px;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    width: 100%;
    
}

#catMain{

    padding-top:100px;
    color:#1a1a1a;
    text-align:center;
    letter-spacing: -1px;
    font-family:Lato;
    font-weight: 600;
    font-size: 250%;
    font-style: italic;
}


    
.btn-default {
    color: #F7F199;
    background-color: transparent;
    border-color: #F7F199;
}

.btn-default:hover {
    color: #F7F199;
    background-color: #331a00;
    border-color: #F7F199;
}


.radio-inline, .checkbox-inline{    
         display: inline-block;

    color:#F7F199;
}


.checkbox-inline{    

  margin-left:8px;
    margin-right:8px;
  margin-bottom:8px;

  padding:6px;

   }

.btn-artp{ color: #322806;
    background-color: transparent;
    border-color: #322806;}
    
.btn-artp:hover{ color: #F7F199;
    background-color: #331a00;
    border-color: #F7F199;}
    
.post, .contact {
  border-bottom: 2px solid #F5F5F5;
  padding: 30px 20px 10px;
}
.post.single {
  padding: 30px 0 10px;
}

.post:last-child,
.contact:last-child {
  border-bottom: 0px
}

.post .title {
  color: #222;
  font-size: 1.8em;
  margin: 0 0 0.2em;
}

.post.single .title {
  font-size: 36px;
}
.post.single header {
  margin-bottom: 30px;
}


.post .title a {
  color: #222;
}

.post .description {
  color: #344151;
  font-size: 1.15em;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1.5em;
}

.post .meta {
  color: #999;
  font-size: 96%;
}

.post.single,
.post.featured {
  font-size: 1.2em;
}

#artIndex{
        background-image: url('main.jpg'); 
    background-size:cover;
    background-position:center;
    height:auto;
}

 .btn-del {
    color: red;
    background-color: transparent;
    border-color: red;
}

.btn-del:hover {
    color: white;
    background-color: red;
    border-color: red;
}
