<div id="wrapperRRc">
  <div id="sidebar-wrapperRRc">
    <div class="sidebar-navc" style="background-image: url('<%= @category.avatar.url %>'); 
    background-size:cover;
    background-position:center;">
      <div class="content text-center wow distance_from_top">
        <h1 id="yellowColor" style="text-transform: uppercase;"><%= @category.name %></h1>
      </div>
    </div>
  </div>
  <div id="page-content-wrapperRRc" style="float:right; margin-right:80px;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="center"><%= will_paginate @category_articles %></div>
            <div style="margin-top:20px"><%= render 'articles/article', obj: @category_articles %></div>
        </div>
      </div>
    </div>
  </div>
</div>



