<footer class="footer">
  <div class="container center", style="padding-top: 15px;">
    <p class="text-muted"><small>Copyright &copy; <a href="https://github.com/PouyaKhast">Pouya Khast</a></small></p>
  </div>
</footer>
